body, html {
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
nav {
  height: auto;
}

p {
  color: #858585;
}

.Nav {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #CC4646!important;
  border-style: solid;
  border-width: 1px;
  border-color: #FF6133!important;
  font-size: 18px;
}

a:hover {
  text-decoration: underline!important;
  text-decoration-color: white !important;
}

a:focus{
  text-decoration: underline!important;
  text-decoration-color: white !important;
}

nav.navbar.transparent {
  opacity: 0.85;
}

li > a {
  color: #DEDEDE!important;
}

.blockOne {
  background-image: url('../images/LA2.jpg');
  height: 100%;

  /* Center and Scale image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}

.pictureInfo {
  margin-top: 10%;
  color: white;
}

.blockTwo {
  background-color: white;
  height: 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.blockTwo > p {
  color: #858585;
}

.blockThree {
  background-color: #E4E4E4;
  height: 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.blockThree > p {
  color: #858585;
}

.blockFour {
  background-color: #333;
  height: 100%;
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}

.blockFive {
  background-color: white;
  height: 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.blockSix {
  background-color: #E4E4E4;
  height: 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #CC4646;
}

.portfolioBlock {
  background-color: #333;
  height: 100%;
  text-align: center;
  color: white;
  padding-top: 5%;
  padding-bottom: 10%;
}

footer{
  height: 10%;
  background-color: white;
  padding-top: 2%;
  padding-bottom: 5%;
}

.icons {
  height: 45px;
  width: 45px;
  float: right;
}

.progress {
  margin-bottom: 5%;
}

.container-div {
  padding-left: 0;
  padding-right: 0;
  height: 70%;
}

.card-row {
  padding-left: 3%;
  padding-right: 3%;
}

.formText {
  width: 75%;
}

form {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  ul {
    background-color: black;
    color: black;
  }

  .blockTwo {
    text-align: left;
  }

  .blockThree {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
  }

  .blockFour {
    text-align: left;
  }

  .blockFive {
    text-align: left;
  }

  .blockSix {
    text-align: left;
  }

  .portfolioBlock {
    padding-left: 15%;
    padding-right: 15%;
  }

  .pictureInfo {
    margin-top: 25%;
    color: white;
  }
}

@media only screen and (max-width: 991px) {
  ul {
    background-color: black;
    color: black;
  }
}
